{
  "presets": [["@babel/preset-env", { "modules": false }], "@babel/preset-typescript"],
  "plugins": ["@babel/plugin-proposal-export-default-from", "@babel/plugin-proposal-class-properties", "angularjs-annotate", "@babel/plugin-syntax-typescript", "@babel/plugin-transform-runtime"]
}
